<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Editorial Name</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of editorials">
						<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)">{{i.name}}</a>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="border row">
		<div class="col">
			<div *ngIf="selectedEditorial">
				<app-editorial-detail [editorialDetail]="selectedEditorial"> </app-editorial-detail>
			</div>
		</div>
	</div>
</div>